/*login.html */
header{
    display: flex;
    flex-direction: row;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
}

.entrar{
    background-color: wheat;
    color: aquamarine;
    width: 100px;
    height: 50px;
    text-align: center;
    align-content: center;
}

.sobre{
    background-color: wheat;
    color: black;
    width: 100px;
    height: 50px;
    text-align: center;
    align-content: center;
}

nav{
    display: flex;
    flex-direction: row;
    padding: 50px 70px 50px 70px;
    align-items: center;
    justify-content: space-between;
}

.adotar{
    background-color: beige;
    width: 300px;
}

.doar{
    background-color: beige;
    width: 300px;
}


/*doar.html */


.card{
    width: 30rem;
    height: 40rem;
}